html {
  background: #000000 url(/images/404_header.jpg) no-repeat center top;
  color: white;
  overflow: hidden;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
		  font-size: medium;
}
.info, .info:before, .info:after, .tehno-info, .tehno-info:before, .tehno-info:after, .error, .err-404:after,
.err-404:before, .engineering:after, .engineering:before, .error-424:after, .error-424:before,
.info-424:before, .info-424:after {
	text-align: center;
	position: absolute;
}

.inner-424{
	position: relative;
}
.err-404:after, .engineering:after, .err-404:before, .engineering:before, .error-424:before, .error-424:after {
	font-size: 120px;
	width: 750px;
	margin: auto;
	top: 20%;
	bottom: 0;
	left: 0;
	right: 35%;
	color: white;
}

.engineering:after, .err-404:after, .error-424:after {
	opacity: 0.1;
	/*-webkit-animation: noise-1 7s linear infinite;*/
	/*animation: noise-1 7s linear infinite;*/
}
.engineering:before, .err-404:before, .error-424:before {
	opacity: 0.6;
	-webkit-animation: noise-2 7s linear infinite;
	animation: noise-2 7s linear infinite;
}
.engineering:after, .engineering:before {
	content: 'engineering';
}
.err-404:after, .err-404:before {
	 content: 'error 404';
}
.error-424:after, .error-424:before {
	margin-top: 0;
	content: 'error 424';
}

.error {
	width: 100%;
	height: 140px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: -100px;
	right: 0;
	/*-webkit-animation: noise-3 15s linear infinite;*/
	/*animation: noise-3 15s linear infinite;*/
	/*overflow: visible;*/
}

.info,.tehno-info, .info-424 {
	width: 200px;
	height: 60px;
	margin: auto;
	top: 300px;
	bottom: 0;
	left: 40px;
	right: 0;
	-webkit-animation: noise-3 10s linear infinite;
	animation: noise-3 10s linear infinite;
}
.info:before, .info:after, .tehno-info:before, .tehno-info:after {
	font-size: 100px;
	width: 800px;
	margin: auto;
	top: 90px;
	bottom: 0;
	left: 40px;
	right: 10px;
}
.info:before, .tehno-info:before, .info-424:before {
	opacity: 0.3;
	color: #8b92ff;
	-webkit-animation: noise-1 9s linear infinite;
	animation: noise-1 9s linear infinite;}

.info:after, .tehno-info:after, .info-424:after {
	opacity: 1;
	color: white;
	-webkit-animation: noise-2 10s linear infinite;
	animation: noise-2 10s linear infinite;
}
.info:before, .info:after {
	content: 'file not found';
}
.tehno-info:before, .tehno-info:after {
	content: 'works';
}
.info-424:before, .info-424:after {
	content: 'protection from hackers';
	font-size: 78px;
	width: 1024px;
	margin: auto;
	top: 280px;
	bottom: 0;
	left: 40px;
	right: 10px;
}
#main{
	background: transparent;
}
div.wrap-424 pre, div.wrap-424 code {
	color: white;
	background: transparent;
	border: none;
	border-radius: 0;
	min-height: 750px !important;
	margin: 70px 0 -700px;
	font-size: 16px;
}
@-webkit-keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@-webkit-keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@-webkit-keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}  
  4.3% {opacity: 1; -webkit-transform: scaleY(1.7); transform: scaleY(1.7);}
  43% {opacity: 1; -webkit-transform: scaleX(1.5); transform: scaleX(1.5);}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}  
  4.3% {opacity: 1; -webkit-transform: scaleY(1.7); transform: scaleY(1.7);}
  43% {opacity: 1; -webkit-transform: scaleX(1.5); transform: scaleX(1.5);}
}

@-webkit-keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}
  4.3% {opacity: 1; -webkit-transform: scaleY(4); transform: scaleY(4);}
  43% {opacity: 1; -webkit-transform: scaleX(10) rotate(60deg); transform: scaleX(10) rotate(60deg);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}
  4.3% {opacity: 1; -webkit-transform: scaleY(4); transform: scaleY(4);}
  43% {opacity: 1; -webkit-transform: scaleX(10) rotate(60deg); transform: scaleX(10) rotate(60deg);}
}

.wrap {
  top: 30%;
  left: 25%;
  height: 200px;
  margin-top: -100px;
  position: absolute;
}
code {
  color: white;
}
span.white {
	color: white;
}
span.blue {
  color: #48beef;
}
a span.blue {
	z-index: 10;
	position: absolute;
	right: 0;
	font-size: 18px;
}
span.comment {
  color: #7f8c8d;
}
span.orange {
  color: #f39c12;
}
span.green {
  color: #33cc33;
}

.viewFull {
  color:orange;
  text-decoration:none;
}

 @media only screen and (min-height: 500px) {

.viewFull{
  display:none; 	
	}

}