html {
    overflow:  hidden;
}
.info, .info:before, .info:after, .tehno-info, .tehno-info:before, .tehno-info:after, .error, .err-404:after,
.err-404:before, .engineering:after, .engineering:before, .error-424:after, .error-424:before,
.info-424:before, .info-424:after {
	/*text-align: center;*/
	position: absolute;
}
.err-404:after, .engineering:after, .err-404:before, .engineering:before, .error-424:before, .error-424:after {
	font-size: 120px;
	width: 750px;
	margin: auto;
	top: 17%;  /*высота отступа Error 404 */
	bottom: 0;
	left: 0;
	right: 35%;
	color: white;
}
.engineering:after, .err-404:after, .error-424:after {
	opacity: 0.1;
	/*-webkit-animation: noise-1 7s linear infinite;*/
	/*animation: noise-1 7s linear infinite;*/
}
.engineering:before, .err-404:before, .error-424:before {
	opacity: 0.6;
	-webkit-animation: noise-2 7s linear infinite;
	animation: noise-2 7s linear infinite;
}
.engineering:after, .engineering:before {
	content: 'engineering';
}
.err-404:after, .err-404:before {
	 content: 'error 404';
}
.error {
	width: 100%;
	margin: auto;
	/*отступ сверху кода*/
	top: 220px;
	bottom: 0;
	right: 0;
}
.error pre {
	display: block;
	font-size: 14px;
	line-height: 1.9;
	word-break: break-all;
	color: inherit;
	background-color: transparent;
	border: none;
}
pre code {
	white-space: pre-wrap;
	color: white;
}

.info,.tehno-info {
	position: absolute;
	margin: auto;
	top: 320px;
	/*отступ сверху file not found*/
	left: 5%;
	right: 0;
	-webkit-animation: noise-3 10s linear infinite;
	animation: noise-3 10s linear infinite;
}
.info:before, .info:after, .tehno-info:before, .tehno-info:after {
	font-size: 100px;
	margin: auto;
	top: 90px;
	bottom: 0;
	left: 40px;
	right: 10px;
}
.info:before, .tehno-info:before, .info-424:before {
	opacity: 0.3;
	color: #8b92ff;
	-webkit-animation: noise-1 9s linear infinite;
	animation: noise-1 9s linear infinite;}

.info:after, .tehno-info:after, .info-424:after {
	opacity: 1;
	color: white;
	-webkit-animation: noise-2 10s linear infinite;
	animation: noise-2 10s linear infinite;
}
.info:before, .info:after {
	content: 'file not found';
}
.tehno-info:before, .tehno-info:after {
	content: 'works';
}
#main{
	background: transparent;
}
@-webkit-keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@-webkit-keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@-webkit-keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}  
  4.3% {opacity: 1; -webkit-transform: scaleY(1.7); transform: scaleY(1.7);}
  43% {opacity: 1; -webkit-transform: scaleX(1.5); transform: scaleX(1.5);}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}  
  4.3% {opacity: 1; -webkit-transform: scaleY(1.7); transform: scaleY(1.7);}
  43% {opacity: 1; -webkit-transform: scaleX(1.5); transform: scaleX(1.5);}
}

@-webkit-keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}
  4.3% {opacity: 1; -webkit-transform: scaleY(4); transform: scaleY(4);}
  43% {opacity: 1; -webkit-transform: scaleX(10) rotate(60deg); transform: scaleX(10) rotate(60deg);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}
  4.3% {opacity: 1; -webkit-transform: scaleY(4); transform: scaleY(4);}
  43% {opacity: 1; -webkit-transform: scaleX(10) rotate(60deg); transform: scaleX(10) rotate(60deg);}
}

span.white {
	color: white;
}
span.blue {
  color: #48beef;
}
a span.blue {
	z-index: 10;
	position: absolute;
	font-size: 16px;
	width: 150px;
	text-decoration: underline;
}
.error .err_comment {
  color: #7f8c8d;
}
span.orange {
  color: #f39c12;
}
span.green {
  color: #33cc33;
}

.viewFull {
  color:orange;
  text-decoration:none;
}

@media only screen and (min-height: 500px) {
.viewFull{
  display:none; 	
	}
}

/*======================================= - 424 - =========================================*/

.error-424:after, .error-424:before {
    position: absolute;
    top: 150px;
	margin-top: 0;
	content: 'error 424';
}
.inner-424{
	min-width: 100%;
	position: absolute;
	margin-top: 80px;
    white-space: pre-wrap;
}
div.wrap-424 pre, div.wrap-424 code {
	position: relative;
	width: 100%;
    height: 700px;
	color: white;
	background: transparent;
	border: none;
	border-radius: 0;
	font-size: 16px;
	display: block;
	line-height: 1.9;
	word-break: break-all;
    overflow:  hidden;
}
/* надпись - protection from hackers */
.info-424:before, .info-424:after {
	content: 'protection from hackers';
	font-size: 78px;
	bottom: 0;
	left: 40px;
	right: 10px;
    top: 80px;
}
/* /body и /html */
.info-424 {
	position: absolute;
	top: 350px;
	left: 0;
	right: 0;
	-webkit-animation: noise-3 10s linear infinite;
	animation: noise-3 10s linear infinite;
}