* + html {
	overflow: auto;
}

.soc-icons a:hover img {
	filter: alpha(opacity=70);
}

h2 {
	font-family: Pompadur, serif;
	font-size: 32px;
	line-height: 32px;
	font-weight: bold;
	font-style: italic;
	color: #F90;
	text-shadow: #191919 5px 5px 4px;
	position: relative;
	top: -6px;
}
