@import "compass", "compass/css3", "mixins/my_mix";
@import "bourbon/bourbon", "base/base", "neat/neat";


@import "media-queries";
@import "reset";
@import "inc/config";
@import "inc/test";
@import "inc/fonts";
@import "inc/core";
@import "inc/col";


@import "jquery.fancybox-1.3.4";
@import "inc/jquery-ui";
@import "inc/jquery-ui.structure";
@import "inc/jquery-ui.theme";
@import "focal-point";
@import "ajax.title.edit";
@import "tabs";
@import "slider";
@import "owl.carousel";
@import "owl.theme";
@import "owl.transitions";
@import "who.is.online.styles";
@import "skin";
@import "media-queries";


.tright {
	  text-align: right;
}

.tleft {
	  text-align: left;
}

.tjust {
	  text-align: justify;
}

.center {
	  text-align: center;
}

.ic {
	  border: 0;
	  float: right;
	  background: #fff;
	  color: #f00;
	  width: 50%;
	  line-height: 10px;
	  @include font-size(10);
	  margin: -220% 0 0 0;
	  overflow: hidden;
	  padding: 0;
}

.link {
	  color: $text_color;
	  text-decoration: underline;
	  &:hover {
			color: #fff;
			text-decoration: underline;
	  }
}

.link-1 {
	  @include font-size(11);
	  line-height: 20px;
	  font-style: italic;
	  &:hover {
			color: #f7e35c;
			text-decoration: underline;
	  }
}

.link-2 {
	  color: $text_color;
	  text-decoration: underline;
	  &:hover {
			color: $text_color;
			text-decoration: underline;
	  }
}

.link-3 {
	  font-family: "Times New Roman", Times, serif;
	  @include font-size(16);
}

.komment {
	  color: $comment_color;
	  @include font-size(11);
	  line-height: 18px;
	  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

.text-1 {
	  @include font-size(18);
	  line-height: 25px;
	  color: #fff;
	  font-style: italic;
}

#TimerDiv {
	  position: absolute;
	  width: 200px;
	  color: $comment_color;
	  @include font-size(20);
	  font-family: 'LazyCrazyRegular', serif;
	  margin-left: 740px;
	  margin-top: 8px;
}

#logo {
	  display: inline-block;
	  position: absolute;
	  top: 0;
	  left: 425px;
	  z-index: 1000;
	  margin-top: 70px;
}

.bb2 {
	  border-bottom: #353535 1px solid;
	  padding-bottom: 7px;
}

.bb3 {
	  border-bottom: #353535 1px solid;
	  padding-top: 5px;
	  padding-bottom: 8px;
}

.p5-17 {
	  padding-top: 5px;
	  padding-bottom: 17px;
}

ul {
	  margin: 0;
	  padding: 0;
	  list-style-image: none;
	  &.list-2 {
			li {
				  padding: 0 0 13px 14px;
				  line-height: 18px;
				  background: image-url('marker-1.gif') 0 8px no-repeat;
				  span {
						a {
							  @include font-size(13);
							  color: #ddd;
							  line-height: 18px;
							  font-weight: bold;
							  &:hover {
									color: #bf96c7;
							  }
						}
				  }
			}
	  }
	  &.list-3 {
			li {
				  padding: 0 0 26px 0;
				  line-height: 18px;
				  overflow: hidden;
				  span {
						&.date {
							  display: block;
							  float: left;
							  background: image-url('date-bg.png') 15px 0 no-repeat;
							  width: 97px;
							  @include font-size(48);
							  line-height: 60px;
							  font-style: italic;
							  span {
									@include font-size(24);
									line-height: 30px;
									display: inline-block;
									float: left;
									color: #fff;
							  }
						}
						&.extra-wrap {
							  @include font-size(14);
							  color: $text_color;
							  line-height: 18px;
							  display: block;
							  a {
									@include font-size(14);
									color: #bf96c7;
									line-height: 18px;
									text-decoration: underline;
									&:hover {
										  color: #fff;
										  text-decoration: underline;
									}
							  }
						}
				  }
			}
	  }
}

ul.list-2 li span, .adr {
	  @include font-size(13);
	  color: $comment_color;
	  line-height: 22px;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-style: normal;
}

.adr {
	  width: 190px;
	  margin-bottom: 40px;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  @include font-size(12);
	  line-height: 20px;
}

.clear {
	  clear: both;
	  line-height: 0;
	  font-size: 0;
	  width: 100%;
}

.wrapper {
	  width: 100%;
	  overflow: hidden;
	  position: relative;
}

.wrap {
	  overflow: hidden;
	  position: relative;
}

.fleft {
	  float: left;
}

.fright {
	  float: right;
}

.img-indent {
	  float: left;
	  margin: 3px 24px 20px 0;
	  font-family: Georgia, Tahoma, Arial, sans-serif;
	  @include font-size(14);
}

.img-indent-2 {
	  margin: 3px 0 23px 0;
}

.last {
	  margin-right: 0 !important;
}

.upper {
	  text-transform: uppercase;
}

.top-1 {
	  margin-top: 9px;
}

.left-1 {
	  margin-left: 13px;
}

.bot-0 {
	  padding-bottom: 0 !important;
	  margin-bottom: 0 !important;
}

.bot-1 {
	  margin-bottom: 21px;
}

.bot-2 {
	  margin-bottom: 17px;
}

.bot-3 {
	  margin-bottom: 51px;
}

.pad-1 {
	  padding-left: 30px;
	  padding-right: 30px;
}

.pad-2 {
	  padding-left: 40px;
}

.p1 {
	  padding-bottom: 18px;
}

.p2 {
	  margin-bottom: 25px;
}

.p3 {
	  padding-bottom: 20px;
}

.p4 {
	  padding-bottom: 13px;
}

.p5 {
	  padding-bottom: 6px;
}

.m1 {
	  margin-bottom: 10px;
}

.subpages-nav {
	  position: relative;
	  width: 100%;
	  z-index: 999;
	  height: 197px;
	  background: image-url('banner.jpg') center 0 no-repeat;
	  nav {
			background: transparent !important;
			margin-top: 0 !important;
	  }
}

#content {
	  width: 1024px;
	  margin: 0 auto;
	  background: image-url('bg.jpg') 0 0 repeat;
	  padding-bottom: 10px;
	  border-bottom: #303030 1px solid;
}

.img-border {
	  border: #474747 4px solid;
	  display: inline-block;
}

.gallery-block {
	  position: relative;
	  text-align: center;
	  h1 {
			padding: 26px 0 16px 0;
			text-align: center;
	  }
}

.gallery-photo {
	  border-top: #303030 1px solid;
	  border-bottom: #303030 1px solid;
}

.page1-row1 {
	  overflow: hidden;
	  padding-top: 36px;
}

.link-1-pad {
	  float: right;
	  margin-top: 9px;
}

.link-2-pad {
	  float: right;
}

.soc-icons {
	  overflow: hidden;
	  margin: 17px 0 0 0;
	  a {
			display: block;
			width: 45px;
			height: 45px;
			float: left;
			margin-right: 2px;
			&:hover {
				  img {
						opacity: 0.7;
				  }
			}
	  }
}

.page2-row1 {
	  overflow: hidden;
	  padding-top: 26px;
	  padding-bottom: 41px;
}

.page2-row2 {
	  overflow: hidden;
}

.comment {
	  background: image-url('comment-top.png') 0 0 no-repeat;
	  padding-left: 20px;
	  margin-bottom: 9px;
	  width: 270px;
	  p {
			background: image-url('comment-bottom.png') right bottom no-repeat;
	  }
}

.slovo {
	  background: image-url('comment-top.png') 0 0 no-repeat;
	  padding-left: 20px;
	  margin-bottom: 9px;
	  width: 245px;
	  p {
			background: image-url('comment-bottom.png') right bottom no-repeat;
	  }
}

.page3-row1 {
	  overflow: hidden;
	  padding-top: 26px;
}

.page4-row1 {
	  overflow: hidden;
	  padding-top: 26px;
}

.page5-row1 {
	  overflow: hidden;
	  padding-top: 26px;
}

.page6-row1 {
	  overflow: hidden;
	  padding-top: 26px;
}

.lightbox-image {
	  display: inline-block;
	  position: relative;
	  img {
			&.magnify {
				  position: absolute;
				  width: 0;
				  height: 0;
				  left: 50%;
				  top: 50%;
			}
	  }
}

.map {
	  width: 265px;
	  height: 202px;
	  margin-top: 3px;
	  iframe {
			width: 265px;
			height: 202px;
	  }
}

dl {
	  margin: 20px 0 0 0;
	  dt {
			line-height: 24px;
			margin-bottom: 3px;
			text-indent: 10px;
	  }
	  dd {
			span {
				  width: 62px;
				  text-align: right;
				  display: block;
				  float: left;
				  margin-right: 12px;
				  text-indent: 10px;
			}
			a {
				  &:hover {
				  }
			}
	  }
}

.clr-1 {
	  color: #dddddd;
	  font-family: Georgia, Times New Roman, serif;
}

.clr-2 {
	  color: $text_color;
	  font-style: italic;
	  @include font-size(14);
}

#form {
	  padding: 3px 0 0 0;
	  width: 260px;
	  input {
			border: #3f3f3f 1px solid;
			background: #2c2c2c;
			@include font-size(14);
			font-family: "Times New Roman", Times, serif;
			color: $form_text_color;
			padding: 4px 10px 5px 10px;
			outline: medium none;
			width: 238px;
			float: left;
	  }
	  textarea {
			border: #3f3f3f 1px solid;
			background: #2c2c2c;
			@include font-size(14);
			font-family: "Times New Roman", Times, serif;
			color: $form_text_color;
			height: 130px;
			outline: medium none;
			overflow: auto;
			padding: 4px 0 0 10px;
			width: 248px;
			resize: none;
			margin: 0 0 0 0;
			float: left;
	  }
	  label {
			position: relative;
			display: block;
			min-height: 37px;
			overflow: hidden;
	  }
}

.btns {
	  text-align: right;
	  margin-left: 0;
	  overflow: hidden;
	  a {
			&.link-1 {
				  display: inline-block;
				  margin: 14px 0 0 25px;
			}
	  }
}

.date {
	  font-weight: bold;
	  color: #fc0;
}

.title {
	  font-weight: bold;
	  @include font-size(16);
	  font-family: "Times New Roman", Times, serif;
	  color: #ff9c9c;
}

.uslugi {
	  width: 670px;
}

.new-slider {
	  width: 205px;
	  height: 114px;
}

#razrab {
	  position: relative;
	  left: 370px;
	  top: 50px;
	  width: 331px;
	  height: 367px;
	  background: image-url('pen.png') 0 0 no-repeat;
}

#zapolnen {
	  position: relative;
	  height: 367px;
	  background: image-url('under-construction.jpg') 0 0 no-repeat;
}

.thumb {
	  width: 186px;
	  height: 99px;
}

.error {
	  color: #D0000D;
}

TD {
	  border: 1pt dotted;
	  font-family: Verdana, serif;
	  @include font-size(11);
}

.w270 {
	  width: 270px;
}

TABLE {
	  &.hide {
			background: #707486;
			color: #000;
	  }
	  &.show {
			background: #d7ccc4;
			color: #000;
	  }
	  &.bg1 {
			background: #3d3d3d;
			color: #bbbbb3;
	  }
}

hr {
	  border-color: #353535 transparent transparent;
	  border-bottom: 1px solid #353535;
	  margin: 0.5em 0;
}

INPUT {
	  &.check {
			border: 0;
			background: none;
	  }
}

TEXTAREA, SELECT {
	  border: 1pt solid #424242;
}

.bggrey {
	  background: #f0f0f0;
}

.b {
	  font-weight: bold;
	  font-family: Verdana, serif;
	  @include font-size(15);
	  text-align: center;
}

.s {
	  font-weight: plain;
	  font-family: Arial, serif;
	  @include font-size(11);
}

.s-ver {
	  font-family: Verdana, serif;
	  @include font-size(11);
}

.form-comments {
	  width: 700px;
}

.form-admin {
	  width: 260px;
}

.form-admin, .form-comments {
	  position: relative;
	  margin: 5px auto;
	  @include font-size(16);
	  vertical-align: middle;
	  display: inline-block;
	  border-collapse: collapse;
	  word-break: break-all;
	  padding: 3px;
}

#form2 {
	  padding: 3px 0 0 0;
	  width: 700px;
	  border: 0;
	  input[type=submit] {
			margin: 8px 65px 5px 0;
	  }
	  textarea {
			background: #2c2c2c;
			@include font-size(14);
			color: $form_text_color;
			height: 120px;
			outline: medium none;
			overflow: auto;
			padding: 4px 0 0 10px;
			width: 540px;
			resize: none;
			margin: 0 0 0 0;
			float: left;
	  }
}

#form input, #form2 input {
	  border: #3f3f3f 1px solid;
	  background: #2c2c2c;
	  @include font-size(14);
	  font-family: "Times New Roman", Times, serif;
	  color: $form_text_color;
	  padding: 4px 10px 5px 10px;
	  outline: medium none;
	  float: left;
	  width: 240px;
	  @include experimental('border-radius', 5px);
}

#form input[type=submit], #form2 input[type=submit] {
	  background: none;
	  cursor: pointer;
	  width: 100px;
}

input[type=submit], label, select, .pointer {
	  cursor: pointer;
}

#form label, #form2 label {
	  position: relative;
	  display: block;
	  min-height: 37px;
	  overflow: visible;
	  border: 0;
}

.tabl-w100-b0-sp3-p1 {
	  width: 100%;
	  border: 0;
	  border-spacing: 3px;
	  padding: 1px;
}

.tabl-w100-b0-sp3-p2 {
	  width: 100%;
	  border: 0;
	  border-spacing: 3px;
	  padding: 2px;
}

.b0 {
	  border: 0;
}

.b1 {
	  border: 1px #cccccc;
}

.sp3 {
	  border-spacing: 3px;
}

.pd1 {
	  padding: 1px;
}

.pd2 {
	  padding: 2px;
}

.adm-tr {
	  background-color: #897e76;
	  color: #000000;
}

.adm-td {
	  padding: 5pt;
	  border: 0;
	  font-weight: bold;
}

.w5 {
	  width: 5%;
}

.w10 {
	  width: 10%;
}

.w25 {
	  width: 25%;
}

.w100 {
	  width: 100%;
}

.w50 {
	  width: 50%;
}

.w60 {
	  width: 60%;
}

.w80 {
	  width: 80%;
}

.footer-time {
	  position: relative;
	  margin-top: 20px;
	  text-align: center;
	  @include font-size(14);
}

.mtop50 {
	  margin-top: 50px;
}

.td-text {
	  vertical-align: middle;
	  padding-right: 4px;
	  width: 150px;
}

.tabl2-ok {
	  width: 100px;
	  margin: 8px 60px 0 0;
	  float: right;
	  position: relative;
}

.lab2-ok {
	  position: absolute;
	  margin-left: 550px;
}

#form :invalid, #form2 :invalid {
	  border-color: #e88;
}

#form :required, #form2 :required {
	  border-color: #3f3f3f;
}

.edit_rep_post {
	  background: #b0a59d;
	  margin-left: -20px;
}

.head_titl {
	  color: #75916c;
	  @include font-size(18);
	  font-weight: bold;
	  padding-bottom: 7px;
	  text-align: center;
	  text-transform: uppercase;
}

.commenttext-owner {
	  float: left;
	  width: 610px;
	  position: relative;
	  padding: 5px 20px 10px 20px;
	  margin-left: 52px;
	  color: #d1d1d1;
	  cite {
			a {
				  color: #5d9c50;
			}
	  }
}

.comav-owner {
	  position: absolute;
	  top: 0;
	  left: 0;
	  padding-right: 20px;
	  margin-left: -52px;
	  background: image-url('blocks/post.png') no-repeat center right;
}

.commenttext-reply {
	  float: left;
	  width: 530px;
	  position: relative;
	  padding: 5px 20px 10px 20px;
	  margin-left: 52px;
	  color: #d1d1d1;
	  cite {
			a {
				  color: #af85b8;
			}
	  }
}

.comav-reply {
	  position: absolute;
	  top: 0;
	  left: 0;
	  padding-right: 20px;
	  margin-left: -52px;
	  background: image-url('blocks/reply.png') no-repeat center right;
}

.commentlist {
	  display: block;
	  width: 100%;
	  margin: 0 auto;
	  position: relative;
	  padding-top: 10px;
	  text-align: left;
	  font: normal verdana, sans-serif;
	  @include font-size(12);
	  color: #d7d7d7;
	  cite {
			font: bold tahoma, sans-serif;
			@include font-size(14);
	  }
}

.time {
	  color: $form_text_color;
}

.spaced {
	  @include font-size(10);
	  color: #93adca;
}

.content-minigall {
	  width: 125px;
	  height: 70px;
	  float: left;
	  margin-left: 4px;
	  margin-right: 3px;
	  overflow: hidden;
	  border: 1px solid #666;
	  img {
			width: 119px;
			padding: 3px;
	  }
}

.content-bottom {
	  width: 100%;
	  height: 70px;
	  padding: 5px 0 5px 0;
}

.tmiddle {
	  vertical-align: middle;
}

.warning {
	  display: block;
	  padding: 10px;
	  width: 1000px;
	  margin: 0 auto;
	  position: relative;
	  text-align: center;
	  font: normal verdana, sans-serif;
	  @include font-size(12);
	  color: #c65960;
	  background-color: #191939;
}

.avatar {
	  padding: 2px;
	  border: 1px solid #b9b9b9;
}

#enable {
	  position: relative;
	  .selected {
	  }
}

#help {
	  position: relative;
	  float: right;
}

.floating-admin {
	  background: #1c1c1c;
	  color: #fff;
	  font: normal normal Tahoma;
	  @include font-size(14);
	  padding: 10px 10px 20px 10px;
	  margin: 5px;
	  width: 300px;
	  position: absolute;
	  border: 1px solid #b9b9b9;
	  right: 10px;
	  div {
			position: relative;
			clear: both;
			padding-top: 10px;
	  }
	  span {
			float: left;
	  }
	  button {
			float: right;
	  }
	  h4 {
			padding-bottom: 10px;
			text-align: center;
	  }
}

.container-admin {
	  position: absolute;
	  right: 10px;
}

.fixed-admin {
	  position: fixed;
	  top: 10px;
	  z-index: 9999;
	  right: 20px;
}

.support,
.support-two {
	  display: inline-block;
	  position: relative;
	  text-decoration: none;
	  cursor: pointer;
}

.support em,
.support-two em {
	  background: #FF6600;
	  border-radius: 20px;
	  border: 1px solid $border_color;
	  text-align: center;
	  color: #FFF;
	  font: normal bold Arial;
	  @include font-size(16);
	  padding: 0 4px;
}

.tip,
.tip-two,
.tip-three {
	  display: none;
	  position: absolute;
	  z-index: 9998;
	  top: 0;
	  left: 100%;
	  background: #EDEDED;
	  border-radius: 3px;
	  border: 1px solid #ccc;
	  box-shadow: 5px 5px 0.5em -0.1em rgba(0, 0, 6, 0.5);
	  text-align: left;
	  color: #000;
	  font: normal 500 Arial, sans-serif;
	  @include font-size(14);
	  opacity: .9;
	  cursor: default;
	  padding: 5px;
	  margin: -15px 0 0 10px;
	  width: 200px;
	  min-height: 35px;
	  height: auto;
}

.tip-two,
.tip-three {
	  margin: -30px 0 0 0;
}

.tip:before,
.tip-two:before,
.tip-three:before {
	  border-width: 9px 8px 9px 0;
	  border-color: transparent #cccccc transparent transparent;
	  top: 13px;
	  left: -9px;
}

.tip:after,
.tip-two:after,
.tip-three:after {
	  border-width: 7px 7px 7px 0;
	  border-color: transparent #ededed transparent transparent;
	  top: 15px;
	  left: -7px;
}

.tip:before,
.tip-two:before,
.tip-three:before,
.tip:after,
.tip-two:after,
.tip-three:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  height: 0;
	  border-style: solid;
}

a.support:focus em,
a.support-two:focus em,
#tip-checkbox:checked ~ .support em {
	  background: #6699FF;
}

.tip-block {
	  display: inline-block;
	  position: relative;
	  background: transparent;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  height: 0;
	  width: 1px;
}

.tip-checkbox {
	  display: none;
}

#tip-checkbox {
	  &:checked {
			& ~ * {
				  .tip-three {
						display: block;
				  }
			}
	  }
}

.tip-close {
	  display: inline-block;
	  position: absolute;
	  background: #333;
	  border-radius: 20px;
	  border: 2px solid #FFF;
	  top: -8px;
	  right: -8px;
	  font: normal bold Comic Sans MS;
	  @include font-size(14);
	  text-align: center;
	  color: #fff;
	  cursor: pointer;
	  padding: 0 4px;
}

.support-hover,
.support-hover-two {
	  display: inline-block;
	  position: relative;
	  color: #06C;
	  text-decoration: none;
	  cursor: pointer;
}

.support-hover em,
.support-hover-two em {
	  background: #FF6600;
	  border-radius: 20px;
	  border: 1px solid $border_color;
	  text-align: center;
	  color: #FFF;
	  font: normal bold Arial;
	  @include font-size(16);
	  padding: 0 4px;
}

a.support-hover:hover em,
a.support-hover-two:hover em {
	  background: #6699FF;
}

.btn {
	  &:hover {
			cursor: pointer;
	  }
}

#new-gal {
	  height: 329px;
	  width: auto;
}

.wrapper-with-intrinsic-ratio {
	  position: relative;
	  padding-bottom: 20%;
	  height: 0;
}

.element-to-stretch {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: teal;
}

@import "fancy-buttons";
button {
	  @include fancy-button(#124c89, 12px, 0.3em, 1px);
}

// эластичное видео
.video embed,
.video object,
.video iframe {
	  width: 100%;
	  height: auto;
}
// Ёластичные изображени€
/*img {
	  max-width: 100%;
	  height: auto;
	  width: auto\9; *//* ie8 *//*
}*/

.video {
	  position: relative;
	  padding-bottom: 56.25%;
	  height: 0;
	  overflow: hidden;
}

.video iframe, .video object, .video embed {
	  position: absolute;
	  top: 0; left: 0;
	  width: 100%;
	  height: 100%;
}
