.clock-container {
	width: 184px;
	margin: 0 auto; 
	overflow: hidden;
	  .clock {
			width:184px;
			margin:0 auto;
			color:#fff;
			padding-bottom: 10px;
			#Date {
				  font-family: Calibri, sans-serif;
				  font-size:10px;
				  text-align:center;
				  text-shadow:0 0 5px #00c6ff;
				  b {
						font-size:14px;
				  }
			}

			ul {
				  width:144px;
				  margin:0 auto;
				  padding:0;
				  list-style:none;
				  text-align:center;
				  li {
						display:inline;
						font-size:1.4em;
						text-align:center;
						font-family: Calibri, sans-serif;
						text-shadow:0 0 5px #00c6ff;
						#point {
							  position:relative;
							  bottom:6px;
							  -moz-animation:mymove 1s ease infinite;
							  -webkit-animation:mymove 1s ease infinite;
							  padding-left:10px;
							  padding-right:10px;
						}
				  }

			}
	  }
}

@-webkit-keyframes mymove {
	0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
	50% {opacity:0; text-shadow:none; }
	100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove {
	0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
	50% {opacity:0; text-shadow:none; }
	100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}