/*
* css
*/

.tabs {
	width: 984px;
}

.tabs > div {
	position: relative;
	/*overflow: hidden;*/
}

.tabs .tab-content {
	background: url(/images/bg.jpg) 0 0 repeat;
	font-size: 16px;
	color: #aaa;
	padding: 0;
	overflow: hidden;
}

.tabs ul.list-categorii {
	list-style-image: none;
	display: inline-block;
	/*overflow: hidden;*/
}

.tabs ul.list-categorii li {
	padding: 2px 0 8px 14px;
	line-height: 18px;
	background: url(/images/marker-1.gif) 0 8px no-repeat;
}

.tabs ul.list-categorii li a {
	color: #fff;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}


.tabs ul.list-categorii li.selected a {
	color: #fc0;
	text-decoration: none;
}

.tabs ul.list-categorii li:hover a {
	color: #fc0;
}

.tabs-2 {
	margin: 35px 0 0 0 !important;
	width: 580px !important;
}

.tabs-2 ul.list-categorii {
	padding: 0 0 0 85px !important;
}

.tabs-2 .tab-content {
	padding: 61px 0 0 0 !important;
}

.tab-content p {
	text-indent: 0;
	margin-bottom: 50px;
	font-size: 16px;
	color: #aaa;
}

.tab-content p:first-letter {
	font-family: Georgia, Tahoma, Arial, sans-serif; /* шрифт */
	font-size: 48px; /* Здесь задаётся размер заглавной буквы */
	float: left; /* Здесь устанавливается выравнивание по левому краю */
	color: rgba(112, 255, 0, 0.76); /* Здесь задаётся цвет заглавной буквы */
	padding: 0 10px 0 0; /* Здесь задаётся отступ между заглавной буквой и текстом */
}

/*блоки*/
.block_wrapper_body{
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 13px;
	/*font-family: 'Open Sans', sans-serif;*/
	color: #cacaca;
	text-align: center;
}
.edit-txt {
	text-align: left;
}
.block_wrap{
	position:relative;
	padding:1em 1em;
	margin:0 auto;
	background: #3e3e3e;
	overflow:hidden;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2),   inset 0 0 1px 0 rgb(171, 171, 171);
	background: -webkit-radial-gradient(center, circle, #363636, #222222);
	background: -moz-radial-gradient(center, circle, #363636, #222222);
	background: -ms-radial-gradient(center, circle, #363636, #222222);
	background: -o-radial-gradient(center, circle, #363636, #222222);
	background: radial-gradient(center, circle, #363636, #222222);
}
.block_wrapper_body .blocks {
	margin: 50px 0 0 0;
}
.block_wrapper_body .block_rounded {
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
.block_wrapper_body .block_rounded:before {
	border-width:8px;
	border-color: #EBEAE6 #EBEAE6 transparent transparent;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}

.block_body {
	position: relative;
	padding: 30px 0;
}

.block_body ul:not(.block_wrap) li {
	display: inline;
	/*IE такого не знает и воспользуется предыдущим свойством*/
	display: inline-block;
	width: 130px;
	padding: 0 10px;
}

.block_wrapper_body .border {
	/*margin: 15px -4px 0 -4px;*/
	border: 1px solid #b9b9b9;
	padding: 3px;
	background: #000000;
	margin: 20px 0 0 -4px;
}

.block_body img {
	width: 120px;
	/*margin: 50px 5px;*/
}

.block_wrap {
}

.block_wrap img {
	width: 100%;
	/*margin: 20px 0 0 -5px;*/
	margin: 0;
}

.border img {
	width: 100%;
	max-width: 434px;
	height: auto;

}

.block_wrap p {
	text-indent: 0;
	margin-top: 25px;
}
.block_wrap p:first-letter {
	font-family: Georgia, Tahoma, Arial, sans-serif; /* шрифт */
	font-size: 38px; /* Здесь задаётся размер заглавной буквы */
	float: left; /* Здесь устанавливается выравнивание по левому краю */
	color: rgba(112, 255, 0, 0.76); /* Здесь задаётся цвет заглавной буквы */
	padding: 10px 10px 0 0; /* Здесь задаётся отступ между заглавной буквой и текстом */
}