{{%BLOCKS}}
{{<base}}
{{$stylesheets}}
<link rel="stylesheet" href="/css/404.css" media="screen" type="text/css" />
{{/stylesheets}}
{{$error}}
<div class="error-403">
    <div class="inner-403">
        <div class="wrap-403">
    <pre>
		<code>
<span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
     <span class="orange">&lt;html&gt;</span>
            <span class="orange">&lt;style&gt;</span>
                  * {
                                    <span class="green">breaking</span>:<span class="blue"> bad</span>;
                    }
             <span class="orange">&lt;/style&gt;</span>
        <span class="orange">&lt;body&gt;</span>
<span class="white">
Ошибка 403:
    Ваше действие заблокировано правилами безопасности сайта!
</span>
<span class="info-403">
        <span class="orange">&nbsp;&lt;/body&gt;</span>
     <span class="orange">&lt;/html&gt;</span>
</span>
        </code>
	</pre>
        </div>
    </div>
</div>
{{/error}}
{{/base }}