/** Main sections */

img {
	border: 0;
}

#main {
	/*margin: 100px auto -210px;*/

	background: transparent;
	text-align: center;
    z-index: 2;
}

#main_stub_page {
	width: 750px;
	overflow: hidden;
	margin: 0 auto;
	color: #ddd;
}

#main_stub_page h1 {
	font-size: 30pt;
	letter-spacing: 12px;
	border-bottom: 1px solid #ddd;
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	float: none;
	text-transform: uppercase;
	line-height: 50px;
	text-rendering: optimizeLegibility;

}

#main_stub_page div.subtitle {
    margin: 0 0 40px 0;
	font-family: "Courier New", Courier, monospace;
    display: block;
    font-size: 1.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    letter-spacing: .15em;
	font-weight: normal;
    text-shadow:
    -1px -1px 1px #696969,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    1px 2px 3px rgba(0, 0, 0, 1),
    2px 3px 4px rgba(0, 0, 0, 0.3);
}

#main_stub_page div.timer_title {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: "Times New Roman", Times, serif;
    display: block;
    font-size: 2.1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

    letter-spacing: .15em;
    padding-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
}

#text3d {
	color: #fb8e06;
	letter-spacing: .15em;
	text-shadow:
	-1px -1px 1px #efede3,
	0 1px 0 #2e2e2e,
	0 2px 0 #2c2c2c,
	0 3px 0 #2a2a2a,
	0 4px 0 #282828,
	1px 2px 3px rgba(0, 0, 0, 0.9),
	2px 3px 4px rgba(0, 0, 0, 0.3),
	3px 5px 5px rgba(0, 0, 0, 0.5),
	5px 7px 8px rgba(0, 0, 0, 0.9);
}

#countdown_dashboard {
	height: 110px;
	margin: 0 auto;
}

/** Countdown */

#countdown {
	width: 770px;
	height: 120px;
	margin: 150px 0 0 45px;
}



#countdown_dashboard .dash .digit {
	font-size: 70px;
	font-weight: bold;
	float: left;
	width: 45px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	position: relative;
	margin: 35px 0 0 7px;
}

.dash {
    width: 127px;
    height: 125px;
    background: transparent url('/images/stub_page/dash.png') 0 0 no-repeat;
    float: left;
    margin-left: 22px;
    position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	width: 112px;
	font-size: 10px;
    letter-spacing: 3px;
	color: #d0d0d0;
    margin-bottom: 10px;
    text-transform: uppercase;

}

/** Bottom div, the one with the newsletter form and social icons */

.bottom-text {
	float: left;
	width: 170px;
	height: 27px;
	color: #fff;
	font-size: 11px;
	padding: 13px 0 0 260px;
}

#email_field {
	float: left;
	background: url(/images/stub_page/input.jpg) no-repeat top;
	border: 0;
	width: 180px;
	height: 38px;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#newsletter {
	float: left;
	width: 300px;
	height: 40px;
}

#social {
	float: right;
	margin: 0 0 0 180px;
	height: 40px;

}

#submit {
	margin: 0;
}

.dev_comment {
	font-size: 14pt;
	text-align: center;
	font-style: italic;
	margin: 70px 10px 40px;
}

#subscribe_form {
	position: relative;
}

#subscribe_button {
	font-size: 14pt;
	color: #333;
	padding: 0 10px;
}

.copyright {
	font-size: 9pt;
	color: #333;
	margin: 40px 0;
}

.faded {
	color: #999;
}

#form_message {
	width: 400px;
	padding: 10px;
	margin: 60px auto 0;
	display: none;
	position: relative;
	z-index: 6;
}

#loading {
	text-align: center;
	display: none;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	z-index: 5;
}

#loading img {
	margin-top: 10px;
}


#img_door {
    position: absolute;
    left: 165px;
    margin-top: 50px;
    width: 91px;
    height: 184px;
}

