{{#getNews}}
    <div class='adr'>
			{{#title}}
          <p class='title'>{{titleNews}}</p>
			{{/title}}
			{{#body}}
          <div>{{{bodyNews}}}</div>
			{{/body}}
			{{#link}}
          <a href="{{linkNewsDetail}}" class="link-1 link-2-pad">подробно</a>
			{{/link}}
    </div>
{{/getNews}}