{{#admin_mode}}
<div class="container-admin">
    <div class="floating-admin">

        <h4>ѕанель админа:</h4>
        <div>
            <span>¬ключить редактирование:</span>
            <button id="enable" class="btn-xs" type="button"><div class="btn-off"></div></button>
        </div>
        <div>
            <span>¬ключить подсказки:</span>
            <button id="help" class="btn-xs" type="button"><div class="btn-off"></div></button>
        </div>
        <div>
            <a href="/admin.php?adm_out=1" style="padding-right: 20px;">выход</a>
        </div>
    </div>
</div>
{{/admin_mode}}