{{#admin_mode}}
<div class="container-admin">
    <table class="floating-admin">
        <tr>
            <td colspan="4">
                <h4>ѕанель админа:</h4>
						</td>
        </tr>
        <tr>
            <td colspan="3">
                <span>¬ключить редактирование:</span>
            </td>
            <td>
                <div id="enable-edit" class="button_img_off"></div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span>¬ключить подсказки:</span>
            </td>
            <td>
                <div id="enable-help" class="button_img_off"></div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a href="/admin.php?adm_out=1">выход</a>
            </td>
        </tr>
    </table>
</div>
{{/admin_mode}}