<article>
    <div id="header">

        <nav class="centered-navigation">

            <div class="centered-navigation-wrapper">
                <a href="/index" class="mobile-logo">
                    <img src="/images/mobile-logo.png" alt="mobile-logo">
                </a>
                <a href="" class="centered-navigation-menu-button">
                    <span class="mobile-menu">MENU</span>
                </a>


                  <header>
                      <ul class="centered-navigation-menu"
                              >
                          <li class="nav-link"
                                  ><h1>Алексеева Анна<span id="profession">фотограф в Одессе</span></h1><div class="line-head"></div></li
                                  >
							{{#globalHeartMenu}}
                          <li class="nav-link {{current}}"
                                  ><a href="{{global_menu_href}}">{{{global_menu_name}}}</a></li
                                  >
							{{/globalHeartMenu}}
                      </ul>
                  </header>
            </div>
        </nav>

    </div>
</article>