@import "../mixins/my_mix";

@mixin font-stack-headers-h1 {
		@include single-text-shadow(2px, 2px, 3px, 3px, #191919);
		font-family: 'Marck Script', cursive, Georgia, Times New Roman, serif;
		line-height: 36px;
		font-weight: bold;
		font-style: italic;
		@include font-size(38);
		color: $h1_color;
}

@mixin font-stack-headers-h2 {

}
@mixin font-stack-headers-h3 {
		font-family: 'Bad Script', 'Georgia', 'Tahoma', 'Arial', cursive;
		@include font-size(24);
		line-height: 30px;
		color: $h3_color;
		font-weight: normal;
		font-style: italic;
}
@mixin font-stack-headers-h4 {
		@include single-text-shadow(1px, 1px, 3px, 2px, rgba(0, 0, 0, 0.3));
		@include font-size(18);
		font-weight: bold;
}
@mixin font-stack-headers-h5 {

}
@mixin font-stack-body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		@include font-size(15);
//		line-height: 22px;
		font-style: normal;
}
@mixin font-stack-footer {
		font-family: Times New Roman, serif;
		text-shadow: -1px -1px #000;
}
@mixin font-stack-code {

}
@mixin font-stack-brand {

}