@function px-to-rem($px){
		@return ($px/16) * 1rem;
}
@mixin font-size($font_px)
{
		font-size: $font_px * 1px;
		font-size: px-to-rem($font_px);

		$line_h: $font_px * 1.2;

		line-height: $line_h * 1px;
		line-height: px-to-rem($line_h);
}
