{{%BLOCKS}}
{{<base}}

{{$stylesheets}}
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Ошибка 404 - страница не найдена</title>
<link rel="icon" href="/images/favicon.png"  type="image/png" />
<link rel="shortcut icon" href="/images/favicon.png" />
<link rel="stylesheet" href="/css/404.css" media="screen" type="text/css" />
{{/stylesheets}}

{{$scripts_head}}

{{/scripts_head}}

{{$error}}
<div class="err-404">
    <div class="error">

    <pre>
        <code><span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
            <span class="orange">&lt;html&gt;</span>
                <span class="orange">&lt;style&gt;</span>
                      * {
                                       <span class="green">everything</span>:<span class="blue">awesome</span>;
                        }
                 <span class="orange">&lt;/style&gt;</span>
                <span class="orange">&lt;body&gt;</span>
                                ОПАЧКИ 404!
                                                        Файл не найден!
		             <span class="err_comment">&lt;!--Вернитесь назад, для дальнейшего
                                 просмотра сайта.--&gt;</span>
        <a href="javascript:history.back(-1);"><span class="blue">&laquo;- вернуться -&raquo;</span></a>
<span class="info">

   <span class="orange">&nbsp;&lt;/body&gt;</span>
<span class="orange">&lt;/html&gt;</span>
</span>
    </code>
    </pre>

    </div>
</div>
{{/error}}

{{$content}}

{{/content}}


{{$scripts_footer }}

{{/scripts_footer }}



{{/base }}