@import "compass";

@mixin screen_max_1024 {
	  @media screen and (max-width: 1024px) {
			@content;
	  }
}

@mixin screen_min_1280 {
	  @media screen and (max-width: 1280px) {
			@content;
	  }
}

@mixin screen_min_1440 {
	  @media screen and (max-width: 1440px) {
			@content;
	  }
}

html {
	  text-align: center;
	  font-size: 100%;
	  @include screen_max_1024() {
			font-size: 90%;
	  }
	  @include screen_min_1280() {
			font-size: 115%;
	  }
	  @include screen_min_1440() {
			font-size: 125%;
	  }
	  //$box-model: [ content-box | border-box | padding-box ]
	  @include box-sizing(content-box);
}

*, *:before, *:after {
	  box-sizing: inherit;
}

html, body {
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  @include font-stack-body;
}

body {
	  display: inline-block;
	  max-width: 1024px;
	  behavior: url('/js/if_IE/PIE.htc');
	  color: $text_color;
	  background: $body_color;
	  -webkit-font-smoothing: subpixel-antialiased !important;
	  @include backface-visibility(hidden);
//	  background: url(../../images/tail-top.jpg) repeat-x center top #000;
}

p {
	  text-indent: 0.625em;
	  margin-bottom: 0.625em;
}

a {
	  text-decoration: none;
	  cursor: pointer;
	  color: #7DADE0;
	  &:active {
			color: #ff8b91;
	  }
	  &:hover {
			text-decoration: none;
			color: #cab76c;
	  }
	  img {
			border: none;
	  }
	  &.clr-1 {
			&:hover {
				  text-decoration: underline;
			}
	  }
	  &.support {
			&:focus {
				  .tip {
						display: block;
				  }
			}
	  }
	  &.support[tabindex="1"]:focus {
			outline: none;
	  }
	  &.support-two {
			&:focus {
				  & + .tip-block {
						.tip-two {
							  display: block;
						}
				  }
			}
	  }
	  &.support-two[tabindex="1"]:focus {
			outline: none;
	  }
	  &.support-hover {
			&:hover {
				  .tip {
						display: block;
				  }
			}
	  }
	  &.support-hover-two {
			&:hover {
				  & + .tip-block {
						.tip-two {
							  display: block;
						}
				  }
			}
	  }
}

a:active, a:focus {
	  outline: none;
}

.main {
	  width: 100%;
	  margin: 0 auto;
}

h1 {
	  @include font-stack-headers-h1;
	  position: relative;
	  top: -0.375em;
}

h2 {
	  display: inline-block;
	  position: absolute;
	  top: 0;
	  left: 26.563em;
	  z-index: 1000;
	  margin-top: 4.375em;
}

h3 {
	  @include font-stack-headers-h3;
}

h4 {
	  @include font-stack-headers-h4;
	  margin-top: 0.313em;
}

.h5 {
	  border-bottom: #353535 0.063em solid;
	  padding-top: 0.938em;
	  padding-bottom: 0.313em;
}

#header {
	  position: relative;
	  width: 100%;
	  & > div {
			position: relative;
			width: 100%;
			background: image-url('header-line.jpg') 0 bottom repeat-x;
	  }
	  .nav {
			position: absolute;
			width: 100%;
			z-index: 999;
			background: image-url('nav-line.png') 0 bottom repeat-x;
			padding-bottom: 0.063em;
			left: 0;
	  }
}

footer {
	  @include font-stack-footer;
	  .container {
			background: url(../../images/tail-bottom.jpg) repeat-x center bottom;
			position: absolute;
			right: 0;
			margin-top: -8.5em;
			z-index: -1;
			width: 100%;
			font-size: .875em;
	        height: 14.313em;
			color: #fff;
			line-height: 1.429em;

			.inside {
				  padding: 9.250em 0 0 0;

				  div {
						border-top: #3c3c3c 0.063em solid;
						padding-top: 0.40em;
				  }
			}
	  }
}