.col-1 {
	float: left;
	width: 200px;
	padding-left: 30px;
	  position: relative;
}

.col-2 {
	float: left;
	max-width: 460px;
	margin-left: 50px;
}

.col-3 {
	float: right;
	max-width: 190px;
	padding-right: 30px;
	  position: relative;
}

.col-4 {
	float: left;
	max-width: 570px;
	margin-right: 70px;
	  padding-left: 30px;
}

.col-5 {
	float: left;
	  max-width: 300px;
	  padding: 0 30px 0 20px;
}

.col-6 {
	float: left;
	max-width: 570px;
	  padding: 30px 30px 0 0;
	margin-right: 20px;
	border-right: #303030 1px solid;
}

.col-7 {
	float: left;
	  max-width: 320px;
	  padding: 30px 0 0 70px;
}
.col-8 {
	float: left;
	width: 190px;
	padding-right: 50px;
}

.col-9 {
	float: left;
	max-width: 744px;
}
.col-10 {
	float: left;
	width: 240px;
	margin-right: 40px;
}

.col-11 {
	float: left;
	  max-width: 670px;
	  margin-top: 30px;
}
.col-12 {
	float: left;
	  max-width: 600px;
	margin-right: 79px;
}

.col-13 {
	float: left;
	  max-width: 265px;
}
.col-14 {
	float: left;
	  max-width: 270px;
	margin-right: 50px;
}

.col-15 {
	float: left;
	  max-width: 273px;
	margin-right: 70px;
}

.col-16 {
	float: left;
	  max-width: 260px;
}

.col-17 {
	width: 100%;
	position: relative;
	font-size: 16px;
	text-align: center;
	margin: 5px auto;
	overflow: visible;
	p {
		&.clr-1 {
			color: #cccccc;
		}
	}
}