@import "compass";
@import "config";
@import "fonts";

@mixin screen_max_1024 {
	  @media screen and (max-width: 1024px) {
			@content;
	  }
}

@mixin screen_min_1280 {
	  @media screen and (max-width: 1280px) {
			@content;
	  }
}

@mixin screen_min_1440 {
	  @media screen and (max-width: 1440px) {
			@content;
	  }
}

html {
	  overflow-x: hidden;
	  text-align: center;
	  font-size: 100%;
	  @include screen_max_1024() {
			font-size: 90%;
	  }
	  @include screen_min_1280() {
			font-size: 115%;
	  }
	  @include screen_min_1440() {
			font-size: 125%;
	  }
	  //$box-model: [ content-box | border-box | padding-box ]
	  @include box-sizing(content-box);
}

*, *:before, *:after {
	  box-sizing: inherit;
}

html, body {
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  height: 100%;
	  @include font-stack-body;
}

body {
	  display: inline-block;
	  max-width: 100%;
	  behavior: url('/js/if_IE/PIE.htc');
	  color: $text_color;
	  background: $body_color;
	  -webkit-font-smoothing: subpixel-antialiased !important;
	  @include backface-visibility(hidden);
	  background: image-url('tail-top.jpg') repeat-x center top #000;
}

p {
	  text-indent: 0.625em;
	  margin-bottom: 0.625em;
}

a {
	  text-decoration: none;
	  outline: none;
	  cursor: pointer;
	  // 1. normal
	  // 2. hover
	  // 3. active
	  // 4. visited
	  // 5. focus
	  @include link-colors(#7DADE0, #d7a100, #ffcb00, #7dade0, #7dade0);
	  @include a-clear();
	  img {
			border: none;
	  }
	  &.clr-1{
			color: #e7b400;
			font-family: $georgia;
	  }
	  &.support {
			&:focus {
				  .tip {
						display: block;
				  }
			}
	  }
	  &.support[tabindex="1"]:focus {
			outline: none;
	  }
	  &.support-two {
			&:focus {
				  & + .tip-block {
						.tip-two {
							  display: block;
						}
				  }
			}
	  }
	  &.support-two[tabindex="1"]:focus {
			outline: none;
	  }
	  &.support-hover {
			&:hover {
				  .tip {
						display: block;
				  }
			}
	  }
	  &.support-hover-two {
			&:hover {
				  & + .tip-block {
						.tip-two {
							  display: block;
						}
				  }
			}
	  }
}

#main {
	  max-width: 1024px;
	  margin: 30px auto 0;
	  //noinspection CssInvalidPropertyValue
	  background: image-url('bg.jpg') 0 0 repeat;
	  border-bottom: #303030 1px solid;
	  text-align: left;
	  min-height: 100%;
	  /* чтобы дочерние элементы позиционировались относительно этого блока */
	  position: relative;
}

h1 {
	  @include font-stack-headers-h1;
	  float: left;
}

h2 {
	  @include font-stack-headers-h2;
}

h3 {
	  @include font-stack-headers-h3;
}

h4 {
	  @include font-stack-headers-h4;
	  margin: 0;
}

.h5 {
	  border-bottom: #353535 0.063em solid;
	  padding-top: 0.938em;
	  padding-bottom: 0.313em;
}

#header {
	  position: relative;
	  width: 100%;
	  & > div {
			position: relative;
			width: 100%;
			background: image-url('header-line.jpg') 0 bottom repeat-x;
	  }
	  .nav {
			position: absolute;
			width: 100%;
			z-index: 999;
			background: image-url('nav-line.png') 0 bottom repeat-x;
			padding-bottom: 0.063em;
			left: 0;
	  }
}

.header {
	  border-color: #E3E2E0;
	  background: #E3C37F none repeat scroll 0 0;
	  margin-bottom: 10px;
	  border-bottom: 1px solid #D3D3D3;
	  text-align: right;
	  color: #202021;
	  font-family: Verdana, sans-serif;
	  font-size: 13px;

}
td.header {
	  span {
			text-decoration: underline;
	  }
	  a {
			color: #202021;
			outline: medium none;
			text-decoration: none;
	  }
}

footer {
	  @include font-stack-footer;
	  position: absolute;
	  background: image-url('tail-bottom.jpg') repeat-x center bottom;
	  width: 100%;
	  left: 0;
	  margin-bottom: -60px;
	  margin-top: -60px;
	  z-index: -1;
	  .social {
			max-width: 880px;
			padding: 60px 30px 0;
			margin: 0 auto;
			z-index: 1;
			position: relative;
			.copirait {
				  line-height: 1.5;
			}
			.texno {
				  position: absolute;
				  bottom: 30px;
				  right: 0;
			}
	  }
	  .container {
			width: 100%;
			z-index: -1;
			font-size: .875em;
			color: #fff;
			position: relative;
			padding-top: 12px;
//			line-height: 18px;


	  }
	  @media all and (max-width: 550px) {

			height: 17.5em;
			.social {
				  padding: 50px 5px 0;
			}
			.container {
clear: both;
			}
	  }
}
* html footer {
	  bottomy:expression(parentNode.offsetHeight % 2 ? style.bottom="-1px" : style.bottom="0px"); /* хак для ие6, у которого есть косяк со смещением на 1px */
}