$url_lazy: "/fonts/lazy-webfont/lazy-webfont";
$marck_script: "/fonts/marck-script/marckscript-regular";
$bad_script_regular: "/fonts/BadScriptRegular/BadScriptRegular";
$raleway_fonts: "/fonts/Raleway/";
$permian_fonts: "/fonts/PermianSans/";
$beer_regular: "/fonts/BeerRegular/BeerRegular";

@font-face {
	font-family: 'LazyCrazyRegular';
	src: url("#{$url_lazy}.eot");
	src: url('#{$url_lazy}.eot?#iefix') format('embedded-opentype'), url('#{$url_lazy}.woff') format('woff'), url('#{$url_lazy}.ttf') format('truetype'), url('#{$url_lazy}.svg#LazyCrazyRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	  font-family: 'Marck Script';
	  src: url('#{$marck_script}.eot');
	  src: url('#{$marck_script}.eot?#iefix') format('embedded-opentype'),
	  url('#{$marck_script}.woff') format('woff'),
	  url('#{$marck_script}.ttf') format('truetype');
	  font-weight: normal;
	  font-style: normal;
}

/* font-family: "BadScriptRegular"; */
@font-face {
	  font-family: "BadScriptRegular";
	  src: url("#{$bad_script_regular}.eot");
	  src: url("#{$bad_script_regular}.eot?#iefix")format("embedded-opentype"),
	  url("#{$bad_script_regular}.woff") format("woff"),
	  url("#{$bad_script_regular}.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}
/* font-family: "RalewayRegular"; */
@font-face {
	  font-family: "RalewayRegular";
	  src: url("#{$raleway_fonts}RalewayRegular/RalewayRegular.eot");
	  src: url("#{$raleway_fonts}RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayRegular/RalewayRegular.woff") format("woff"),
	  url("#{$raleway_fonts}RalewayRegular/RalewayRegular.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}
/* font-family: "RalewayThin"; */
/*@font-face {
	  font-family: "RalewayThin";
	  src: url("#{$raleway_fonts}RalewayThin/RalewayThin.eot");
	  src: url("#{$raleway_fonts}RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayThin/RalewayThin.woff") format("woff"),
	  url("#{$raleway_fonts}RalewayThin/RalewayThin.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/
/* font-family: "RalewayExtraLight"; */
/*@font-face {
	  font-family: "RalewayExtraLight";
	  src: url("#{$raleway_fonts}RalewayExtraLight/RalewayExtraLight.eot");
	  src: url("#{$raleway_fonts}RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
	  url(".#{$raleway_fonts}RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/
/* font-family: "RalewayLight"; */
/*@font-face {
	  font-family: "RalewayLight";
	  src: url("#{$raleway_fonts}RalewayLight/RalewayLight.eot");
	  src: url("#{$raleway_fonts}RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayLight/RalewayLight.woff") format("woff"),
	  url("#{$raleway_fonts}RalewayLight/RalewayLight.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/
/* font-family: "RalewayMedium"; */
@font-face {
	  font-family: "RalewayMedium";
	  src: url("#{$raleway_fonts}RalewayMedium/RalewayMedium.eot");
	  src: url("#{$raleway_fonts}RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayMedium/RalewayMedium.woff") format("woff"),
	  url("#{$raleway_fonts}RalewayMedium/RalewayMedium.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}
/* font-family: "RalewaySemiBold"; */
/*@font-face {
	  font-family: "RalewaySemiBold";
	  src: url("#{$raleway_fonts}RalewaySemiBold/RalewaySemiBold.eot");
	  src: url("#{$raleway_fonts}RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
	  url("#{$raleway_fonts}RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/
/* font-family: "RalewayBold"; */
/*@font-face {
	  font-family: "RalewayBold";
	  src: url("#{$raleway_fonts}RalewayBold/RalewayBold.eot");
	  src: url("#{$raleway_fonts}RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayBold/RalewayBold.woff") format("woff"),
	  url("#{$raleway_fonts}RalewayBold/RalewayBold.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/
/* font-family: "RalewayExtraBold"; */
/*@font-face {
	  font-family: "RalewayExtraBold";
	  src: url("#{$raleway_fonts}RalewayExtraBold/RalewayExtraBold.eot");
	  src: url("#{$raleway_fonts}RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
	  url("#{$raleway_fonts}RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/
/* font-family: "RalewayBlack"; */
/*@font-face {
	  font-family: "RalewayBlack";
	  src: url("#{$raleway_fonts}RalewayBlack/RalewayBlack.eot");
	  src: url("#{$raleway_fonts}RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
	  url("#{$raleway_fonts}RalewayBlack/RalewayBlack.woff") format("woff"),
	  url("#{$raleway_fonts}RalewayBlack/RalewayBlack.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/

/* font-family: "PermianSansRegular"; */
@font-face {
	  font-family: "PermianSansRegular";
	  src: url("#{$permian_fonts}PermianSansRegular/PermianSansRegular.eot");
	  src: url("#{$permian_fonts}PermianSansRegular/PermianSansRegular.eot?#iefix")format("embedded-opentype"),
	  url("#{$permian_fonts}PermianSansRegular/PermianSansRegular.woff") format("woff"),
	  url("#{$permian_fonts}PermianSansRegular/PermianSansRegular.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}
/* font-family: "PermianSansBold"; */
/*@font-face {
	  font-family: "PermianSansBold";
	  src: url("#{$permian_fonts}PermianSansBold/PermianSansBold.eot");
	  src: url("#{$permian_fonts}PermianSansBold/PermianSansBold.eot?#iefix")format("embedded-opentype"),
	  url("#{$permian_fonts}PermianSansBold/PermianSansBold.woff") format("woff"),
	  url("#{$permian_fonts}PermianSansBold/PermianSansBold.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/
/* font-family: "PermianSansItalic"; */
/*@font-face {
	  font-family: "PermianSansItalic";
	  src: url("#{$permian_fonts}PermianSansItalic/PermianSansItalic.eot");
	  src: url("#{$permian_fonts}PermianSansItalic/PermianSansItalic.eot?#iefix")format("embedded-opentype"),
	  url("#{$permian_fonts}PermianSansItalic/PermianSansItalic.woff") format("woff"),
	  url("#{$permian_fonts}PermianSansItalic/PermianSansItalic.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}*/

/* font-family: "BeerRegular"; */
@font-face {
	  font-family: "BeerRegular";
	  src: url("#{$beer_regular}.eot");
	  src: url("#{$beer_regular}.eot?#iefix")format("embedded-opentype"),
	  url("#{$beer_regular}.woff") format("woff"),
	  url("#{$beer_regular}.ttf") format("truetype");
	  font-style: normal;
	  font-weight: normal;
}

$beer: 'BeerRegular', 'Georgia', 'Cambria', "Times New Roman", 'Times', serif;
$georgia: 'Georgia', 'Cambria', "Times New Roman", 'Times', serif;
$raleway: 'RalewayMedium', "Helvetica Neue", 'Helvetica', 'Roboto', 'Arial', sans-serif;
$helvetica:"Helvetica Neue", 'Helvetica', 'Roboto', 'Arial', sans-serif;
$lucida-grande: 'Lucida Grande', 'Tahoma', 'Verdana', 'Arial', sans-serif;
$permian: 'PermianSansRegular', 'Verdana', 'Arial', sans-serif;
$monospace: "Bitstream Vera Sans Mono", 'Consolas', 'Courier', monospace;
$verdana: 'Verdana', 'Geneva', sans-serif;
$marck: 'Marck Script', 'Georgia', cursive;
$bad: 'BadScriptRegular', 'Georgia', cursive;
$base-font-family: 'Lato', sans-serif;
$base-font-size:   14px;


@mixin font-stack-headers-h1 {
	  @include single-text-shadow(2px, 2px, 3px, 3px, #191919);
      @include font-size(40);
	  font-family: $beer;
	  color: $h1_color;
	  font-weight: 400;
	  font-style: normal;
	  line-height: 0.7em;
	  letter-spacing: 0;
}

@mixin font-stack-headers-h2 {
	  @include single-text-shadow(2px, 2px, 3px, 3px, #191919);
	  @include font-size(28);
	  font-family: $verdana;
      line-height: 28px;
	  font-weight: bold;
	  color: $h2_color;
}
@mixin font-stack-headers-h3 {
	  font-family: $bad;
	  @include font-size(24);
	  line-height: 24px;
	  line-height: px-to-rem(24);
	  color: $h3_color;
	  font-weight: bold;
	  font-style: italic;
}
@mixin font-stack-headers-h4 {
	  @include single-text-shadow(1px, 1px, 3px, 2px, rgba(0, 0, 0, 0.3));
	  @include font-size(18);
	  font-weight: bold;
}
@mixin font-stack-headers-h5 {

}

@mixin font-stack-body {
      font-family: $raleway;
	  @include font-size(15);
	  font-style: normal;
	  color: #747474;
	  line-height: 1.47em;
	  letter-spacing: 0;
}
@mixin font-stack-list-title {
	  font-family: $bad;
	  color: #ffffff;
	  text-decoration: none;
	  @include font-size(19);
}@mixin font-stack-footer {
	  font-family: $helvetica;
	  text-shadow: -1px -1px #000;
}
@mixin font-stack-texno {
	  font-family: $permian;
	  @include font-size(14);
	  font-weight: 400;
	  line-height: 1.5em;
	  text-indent: 1em;
}
@mixin font-stack-brand {
	  font-family: $raleway;
	  @include font-size(12);
	  word-spacing: normal;
	  font-style: normal;
}


@function px-to-rem($px){
	  @return ($px/16) * 1rem;
}
@mixin font-size($font_px)
{
	  font-size: $font_px * 1px;
	  font-size: px-to-rem($font_px);

	  $line_h: $font_px * 1.6;

	  line-height: $line_h * 1px;
	  line-height: px-to-rem($line_h);
}


.b {
	  font-weight: bold;
	  font-family: Verdana, serif;
	  @include font-size(15);
	  text-align: center;
}

.s {
	  font-weight: plain;
	  font-family: Arial, serif;
	  @include font-size(11);
}

.s-ver {
	  font-family: Verdana, serif;
	  @include font-size(11);
}