{{%BLOCKS}}
{{<base}}

{{$stylesheets}}{{/stylesheets}}

{{$scripts_head}}{{/scripts_head}}

{{$content}}
<section>
    <div class="tabs clearfix">
        <div class="col-8">
            <div class="h-mod">
                <div class="bb-img-red">
                    <h3 class="p2">Категории:</h3>
                </div></div>
            <ul class="nav list-title">
                <li id = "head-{{count}}" class="text selected"><a href="#tab-{{count}}">{{name}}</a></li>
            </ul>
    </div>
    <div class="col-9">
        {{#portfolio}}
            <div id="tab-{{count}}" class="tab-content gallery-photo">
            <div class="h-mod">
                <div class="bb-img-red">
                    <h3 class="h3-2">{{name}}:</h3>
                </div>
            </div>
                <div class="inner">
        <ul id="mycarousel-{{count}}" class="jcarousel-skin-tango">
                {{#li}}
                <li>
                    <a class="plus" href="wm?img={{patcUtf8}}">
                        <img class="thumb" src="{{img}}" alt="Фотография из раздела {{name}} : {{basename_img}}">
                    </a>
                </li>
                {{/li}}
        </ul>
                </div>
            </div>
        {{/portfolio}}
    </div>

    {{^portfolio}}
        Фоторгафий в альбомах пока нет
    {{/portfolio}}


    </div>
</section>
{{/content}}

{{$scripts_footer }}

{{/scripts_footer }}

{{/base }}